In [ ]:
importar   pandas   como   pd  
importar   numpy   como   np

Creando series

In [ ]:
#crear diferentes tipos de datos
labels = ['a','b','c'] #lista de etiquetas
my_list = [10,20,30] # lista con valores
arr = np.array([10,20,30]) #convertir lista de valores en arreglo numpy
d = {'a':10,'b':20,'c':30} #creación de un diccionario

Desde Listas

In [ ]:
#Convertir una lista en series utilizando el método pd.Series
#Observe que se crean los nombres con las posiciones de cada elemento
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
#También se puede escribir la lista directamente dentro de pd.Series()
pd.Series([10,20,20])

0    10
1    20
2    20
dtype: int64

In [ ]:
#Convertir una lista en series utilizando pd.Series()
#Se puede ingresar el nombre de las posiciones
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
#No es obligatorio escribir la palabra 'data'= dentro del argumento, tampoco el 'index'=
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

Desde arreglos numpy

In [ ]:
#Un arreglo numpy se puede comvertir en una serie utilizando el método pd.Series 
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
#Convertir un arreglo en series indicando también los valores del index
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

Desde un diccionario

In [ ]:
#Convertir el diccionario en series utilizando el método pd.Series
#Como el diccionario ya tiene clave entonces se le asigna como valor de la posición
pd.Series(d)

a    10
b    20
c    30
dtype: int64

Datos de una serie                                                                      
Una serie de pandas puede contener una variedad de tipos de objetos

In [ ]:
#Creando una serie basado solo en una lista de letras
#fíjese que la avriable es de tipo objeto
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

Indexación

In [ ]:
#Creación de una serie con sus labels o índices
ser1 =pd.Series([1,2,3,4], index =['USA','GERMANY','USSR','JAPAN'])
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [ ]:
#Creación de una serie con sus labels o índices
ser2 =pd.Series([1,2,5,4], index =['USA','GERMANY','ITALY','JAPAN'])
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [ ]:
#La búsqueda de una serie es igual como un dicionario
#Busquemos la posición de 'USA'
ser1['USA']

1

In [ ]:
#La búsqueda de una serie es igual como un dicionario
#Busquemos la posición de 'GERMANY'
ser2['GERMANY']

2

Las operaciones en las series de Pandas se realizan según el índice

In [ ]:
#Observe los resultados de los países que sólo están en una serie y no en las dos 
ser1 + ser2

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64

**Data Frames (Marcos de datos)**

Un Dataframe es en términos sencillos un conjunto de series reunidas que comparten el mismo índice. En un dataframe podemos específicar el índice (nombre de filas) como las columnas (nombre de las columnas)

In [ ]:
#Importar la función de NumPy para crear arreglos de números enteros
from numpy.random import randn
#Iniciemos el generador aleatorio
np.random.seed(101) 
#Una forma rápida de crear una lista de python desde strings
'A B C D F E'.split()

['A', 'B', 'C', 'D', 'F', 'E']

In [ ]:
#Ahora crearemos un dataframe con números aleatorios de 4 columnas y 5 filas
#Crearemos listas rápidamente usando la función split 'A B C D E'.split() lo que evita estar escribiendo repetidamente las comas
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Descripción general del data frame**

Número de filas y columnas

In [ ]:
#retorna una tupla así: (filas,columnas)
df.shape

(5, 4)

Información general de los datos

In [ ]:
#Información general de los datos de cada columna
#Indica el número de filas del dataset
# Muestra el número de datos No Nulos por columna (valores válidos)
#Tipo de datos de cada columna
#Tamaño del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [ ]:
#Tipos de datos que existe
df.dtypes

W    float64
X    float64
Y    float64
Z    float64
dtype: object

Resumen de estadítica descriptiva general

In [ ]:
#el método .describe() da un resumen de conteo, promedio, mínimo, máximo, cuartiles.
#el método .describe() no muestra información de columnas (con variables) de tipo categóricas
df.describe()

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.343858  0.453764  0.452287  0.431871
std    1.681131  1.061385  1.454516  0.594708
min   -2.018168 -0.758872 -0.933237 -0.589001
25%    0.188695 -0.319318 -0.848077  0.503826
50%    0.190794  0.628133  0.528813  0.605965
75%    0.651118  0.740122  0.907969  0.683509
max    2.706850  1.978757  2.605967  0.955057

Ver primeros elementos del data frame

In [ ]:
df.head()

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Ver últimos elementos del data frame

In [ ]:
df.tail()

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Selección e Indexación**

Existen diversos métodos para extraer datos de un data frame

In [ ]:
#Regresar todos los datos de la columna W
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
#Seleccionar dos o más columnas
#Pasar una lista con los nombres de las columnas

In [ ]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [ ]:
#Seleccionar dos o más columnas
#Pasar una lista con los nombres de las columnas
#Puedes indicar el orden de las columnas
df[['X','W','Z']]

          X         W         Z
A  0.628133  2.706850  0.503826
B -0.319318  0.651118  0.605965
C  0.740122 -2.018168 -0.589001
D -0.758872  0.188695  0.955057
E  1.978757  0.190794  0.683509

Las columnas de un dataframe son sólo series

In [ ]:
#tipo de datos
type(df['W'])

pandas.core.series.Series

**Creando una nueva columna**

In [ ]:
# Nueva columna igual a la suma de otras dos
# Operación vectorizada
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

**Eliminando columnas**

In [ ]:
# axis=0 elimina filas axis=1 elimina columnas
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
# Aún no está grabado el dataframe, para esto se pueden hacer dos cosas
# Forma 1
#df = df.drop('new',axis=1)
# Forma 2
df.drop('new',axis=1,inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Eliminando filas**

In [ ]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
#Otra manera de borrar las columnas
del df['X'] 
df

          W         Y         Z
A  2.706850  0.907969  0.503826
B  0.651118 -0.848077  0.605965
C -2.018168  0.528813 -0.589001
D  0.188695 -0.933237  0.955057
E  0.190794  2.605967  0.683509

**Obtener los nombres de las columnas y los índices(index)**

In [ ]:
df.columns #nombres de las columnas

Index(['W', 'Y', 'Z'], dtype='object')

In [ ]:
df.index #Nombre de los índices

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

**Seleccionando Filas y Columnas**

Las dos formas de selección principal son:
DataFrame.loc[etiqueta_fila,etiqueta_columna] <- por etiquetas
DataFrame.iloc[indice_fila,indice_columna]<- por índices

In [ ]:
#La función loc busca por medio de los nombres de los indices y columnas
df.loc['A'] #se selecciona todos los valores de la fila 'A'

W    2.706850
Y    0.907969
Z    0.503826
Name: A, dtype: float64

O basado en la posición (index) en vez de usar la etiqueta

In [ ]:
df.iloc[2] #Se seleccionan los valores de la fila con indice #Recordar que los index empiezan en cero

W   -2.018168
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

**Seleccione un subconjunto de Filas y Columnas**

In [ ]:
#Mediante etiquetas 
#Se selecciona el elemento que está en la fila=B Col=Y
df.loc['B','Y']

-0.8480769834036315

In [ ]:
#Mediante etiquetas se selecciona un subconjunto de datos que están entre
#filas = A,B Cols= W,Y
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [ ]:
df.loc[['B','A'],['Y','W']]

          Y         W
B -0.848077  0.651118
A  0.907969  2.706850

In [ ]:
df = pd.read_excel('/content/dataprueba.xlsx') 
df.head(20)

                      Customer Branch  Sell Out Value Sales Day (Real)
0                              Chiper          1.313133e+07 2022-04-01
1                              Chiper          8.972393e+06 2022-04-02
2                              Chiper          2.204033e+06 2022-04-03
3                              Chiper          2.515698e+05 2022-04-04
4   Colombiana De Comercio - Apartadó          1.522300e+07 2022-04-01
5   Colombiana De Comercio - Apartadó          2.956585e+06 2022-04-02
6   Colombiana De Comercio - Apartadó          8.542644e+06 2022-04-04
7     Colombiana De Comercio - Bogotá          1.226255e+08 2022-04-01
8     Colombiana De Comercio - Bogotá          7.977356e+07 2022-04-02
9     Colombiana De Comercio - Bogotá          9.021100e+07 2022-04-04
10      Colombiana De Comercio - Cali          7.085489e+07 2022-04-01
11      Colombiana De Comercio - Cali         -2.060601e+06 2022-04-02
12      Colombiana De Comercio - Cali          6.788505e+06 2022-04-04
13   Colombiana De Comercio - Caquetá          1.320381e+07 2022-04-01
14   Colombiana De Comercio - Caquetá          2.367988e+05 2022-04-02
15  Colombiana De Comercio - Medellin          4.537394e+07 2022-04-01
16  Colombiana De Comercio - Medellin          4.002170e+07 2022-04-02
17  Colombiana De Comercio - Medellin          3.628416e+07 2022-04-04
18     Colombiana De Comercio - Pasto          6.749266e+07 2022-04-01
19     Colombiana De Comercio - Pasto          4.047051e+07 2022-04-02

ValueError: ignored

**Creating, Reading and Writing Data**

A DataFrame is a table, it contains an array of individual entries, each of which has a certain value. Each entry correspond to a row or record and a column.

In [ ]:
import pandas as pd

In [ ]:
 # DataFrame with integers
 pd.DataFrame({'Yes':[50,21],'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [ ]:
#DataFrame with strings
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

**Series**

A series is a sequence of data values. If a DataFrame is a table, a series is a list.

In [ ]:
pd.Series([1,2,3,4,])

0    1
1    2
2    3
3    4
dtype: int64

A series is a single column of a DataFrame, you can assign row labels to the Series the same way as before, using and index parameter. Note that a series does not have a column name, it only have an overall name:

In [ ]:
pd.Series([30,35,40], index=['2015 Sales','2016 Sales','2017 Sales'], name= 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

You can think about a DataFrame as actually being a bunch of Series glued together.

Reading Files

In [ ]:
data = pd.read_csv('/content/dataTEST1.csv')
data

,Local Customer Name,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
0,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M02,973066.0
1,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M03,486533.0
2,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M04,973066.0
3,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M06,583840.0
4,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M07,583840.0
...,...,...,...,...,...,...
5879,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M06,1810920.0
5880,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M07,3621840.0
5881,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M03,672011.0
5882,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M05,672011.0
5883,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M06,940815.0

**Indexing, Selecting & Assigning**

In [ ]:
import pandas as pd
data = pd.read_csv('/content/dataTEST1.csv')
data.head(1)

,Local Customer Name,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
0,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M02,973066.0

In [ ]:
data['Customer Branch']

0       Colombiana De Comercio - Apartadó
1       Colombiana De Comercio - Apartadó
2       Colombiana De Comercio - Apartadó
3       Colombiana De Comercio - Apartadó
4       Colombiana De Comercio - Apartadó
                      ...
5879    Colombiana De Comercio - Medellin
5880    Colombiana De Comercio - Medellin
5881    Colombiana De Comercio - Medellin
5882    Colombiana De Comercio - Medellin
5883    Colombiana De Comercio - Medellin
Name: Customer Branch, Length: 5884, dtype: object

In [ ]:
data.shape

(5884, 6)

In [ ]:
data['Sub Sector'][47]

'Fabric Care'

In [ ]:
# iloc to get a row
data.iloc[4]

Local Customer Name               Colombiana de Comercio
Customer Branch        Colombiana De Comercio - Apartadó
Sub Sector                                   Fabric Care
Item GTIN                                  7500435011884
Month (Real)                                     2022M07
Shipment GIV Value                              583840.0
Name: 4, dtype: object

In [ ]:
# return a specific register from a specific column
data['Customer Branch'][20]

'Colombiana De Comercio - Apartadó'

In [ ]:
#indexing
# iloc to get a column
data.iloc[:,4] # iloc[ row index position , column index position]

0       2022M02
1       2022M03
2       2022M04
3       2022M06
4       2022M07
         ...
5879    2022M06
5880    2022M07
5881    2022M03
5882    2022M05
5883    2022M06
Name: Month (Real), Length: 5884, dtype: object

In [ ]:
# iloc to get de second and third entries
data.iloc[3:,2] #df.iloc[ row index , column index]

3                  Fabric Care
4                  Fabric Care
5                  Fabric Care
6                  Fabric Care
7                  Fabric Care
                 ...
5879    Skin and Personal Care
5880    Skin and Personal Care
5881    Skin and Personal Care
5882    Skin and Personal Care
5883    Skin and Personal Care
Name: Sub Sector, Length: 5881, dtype: object

In [ ]:
# iloc to pass a list
data.iloc[[0,1,2],2:5] # df.iloc[[1,2,3],2:5]

    Sub Sector      Item GTIN Month (Real)
0  Fabric Care  7500435011884      2022M02
1  Fabric Care  7500435011884      2022M03
2  Fabric Care  7500435011884      2022M04

In [ ]:
# Last five elements (rows) of the df with rows 2 to 4
data.iloc[-5:, 1:5] #iloc[-5:,1:2]

,Customer Branch,Sub Sector,Item GTIN,Month (Real)
5879,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M06
5880,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M07
5881,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M03
5882,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M05
5883,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M06

Label-based selection (based on index name)

In [ ]:
# get de first entry in dataframe
data.loc[0,'Customer Branch'] #df.loc[row position, label index name]

'Colombiana De Comercio - Apartadó'

In [ ]:
data.loc[:, ["Local Customer Name", "Customer Branch"]] #df.loc[row position, [[column name 1, column name 2,]]]

         Local Customer Name                    Customer Branch
0     Colombiana de Comercio  Colombiana De Comercio - Apartadó
1     Colombiana de Comercio  Colombiana De Comercio - Apartadó
2     Colombiana de Comercio  Colombiana De Comercio - Apartadó
3     Colombiana de Comercio  Colombiana De Comercio - Apartadó
4     Colombiana de Comercio  Colombiana De Comercio - Apartadó
...                      ...                                ...
5879  Colombiana de Comercio  Colombiana De Comercio - Medellin
5880  Colombiana de Comercio  Colombiana De Comercio - Medellin
5881  Colombiana de Comercio  Colombiana De Comercio - Medellin
5882  Colombiana de Comercio  Colombiana De Comercio - Medellin
5883  Colombiana de Comercio  Colombiana De Comercio - Medellin

[5884 rows x 2 columns]

To get 1000 elements using loc, you will need to go one lower and ask for *df.loc[0:999]*

Manipulating the index

In [ ]:
data.set_index("Local Customer Name")

,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
Local Customer Name,,,,,
Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M02,973066.0
Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M03,486533.0
Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M04,973066.0
Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M06,583840.0
Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M07,583840.0
...,...,...,...,...,...
Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M06,1810920.0
Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M07,3621840.0
Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M03,672011.0
Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M05,672011.0
Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M06,940815.0

In [ ]:
dataloc = data.loc[data["Customer Branch"] =="Colombiana De Comercio - Medellin"]
dataloc

,Local Customer Name,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
4376,Colombiana de Comercio,Colombiana De Comercio - Medellin,Fabric Care,7500435011884,2022M02,19461330.0
4377,Colombiana de Comercio,Colombiana De Comercio - Medellin,Fabric Care,7500435011884,2022M03,26272794.0
4378,Colombiana de Comercio,Colombiana De Comercio - Medellin,Fabric Care,7500435011884,2022M04,9730665.0
4379,Colombiana de Comercio,Colombiana De Comercio - Medellin,Fabric Care,7500435011884,2022M05,4865332.0
4380,Colombiana de Comercio,Colombiana De Comercio - Medellin,Fabric Care,7500435011884,2022M06,14109464.0
...,...,...,...,...,...,...
5879,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M06,1810920.0
5880,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M07,3621840.0
5881,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M03,672011.0
5882,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M05,672011.0
5883,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M06,940815.0

In [ ]:
data.loc[(data["Customer Branch"]=="Colombiana De Comercio - Medellin" ) & (data["Shipment GIV Value"]>=60000) & (data["Shipment GIV Value"]<=100000)]
# filtering with loc, that means using index labels, it is very useful with multiple conditions
# df.loc[df["column label"]=="some string"] 
# df.loc[df["column labe"]]==some value] 
#With multiple conditions, we can include parenthesis at the start and at the end of each condition

,Local Customer Name,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
4729,Colombiana de Comercio,Colombiana De Comercio - Medellin,Hair Care,190679000200,2022M03,86373.00
4731,Colombiana de Comercio,Colombiana De Comercio - Medellin,Hair Care,190679000200,2022M05,86373.00
4894,Colombiana de Comercio,Colombiana De Comercio - Medellin,Hair Care,7500435139588,2022M05,86373.00
4938,Colombiana de Comercio,Colombiana De Comercio - Medellin,Hair Care,7500435145695,2022M04,86373.00
5492,Colombiana de Comercio,Colombiana De Comercio - Medellin,PHC,7500435170857,2022M05,73519.27

In [ ]:
# Also working with multiple loc conditions using OR clause
data2 = data.loc[(data["Customer Branch"]=="Colombiana De Comercio - Medellin") | (data["Shipment GIV Value"]>=60000)]
data2

,Local Customer Name,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
0,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M02,973066.0
1,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M03,486533.0
2,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M04,973066.0
3,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M06,583840.0
4,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M07,583840.0
...,...,...,...,...,...,...
5879,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M06,1810920.0
5880,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913640,2022M07,3621840.0
5881,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M03,672011.0
5882,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M05,672011.0
5883,Colombiana de Comercio,Colombiana De Comercio - Medellin,Skin and Personal Care,7702018913664,2022M06,940815.0

In [ ]:
new_df = data.loc[data['Customer Branch'].notnull()]
new_df.head()

,Local Customer Name,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
0,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M02,973066.0
1,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M03,486533.0
2,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M04,973066.0
3,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M06,583840.0
4,Colombiana de Comercio,Colombiana De Comercio - Apartadó,Fabric Care,7500435011884,2022M07,583840.0

In [ ]:
new_df = data.loc[data['Customer Branch'].isnull()]
new_df.head()

Empty DataFrame
Columns: [Local Customer Name, Customer Branch, Sub Sector, Item GTIN, Month (Real), Shipment GIV Value]
Index: []

Assigning Data

In [ ]:
data['Customer Branch'] = data['Customer Branch'] = 'Dilson'
data

,Local Customer Name,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
0,Colombiana de Comercio,Dilson,Fabric Care,7500435011884,2022M02,973066.0
1,Colombiana de Comercio,Dilson,Fabric Care,7500435011884,2022M03,486533.0
2,Colombiana de Comercio,Dilson,Fabric Care,7500435011884,2022M04,973066.0
3,Colombiana de Comercio,Dilson,Fabric Care,7500435011884,2022M06,583840.0
4,Colombiana de Comercio,Dilson,Fabric Care,7500435011884,2022M07,583840.0
...,...,...,...,...,...,...
5879,Colombiana de Comercio,Dilson,Skin and Personal Care,7702018913640,2022M06,1810920.0
5880,Colombiana de Comercio,Dilson,Skin and Personal Care,7702018913640,2022M07,3621840.0
5881,Colombiana de Comercio,Dilson,Skin and Personal Care,7702018913664,2022M03,672011.0
5882,Colombiana de Comercio,Dilson,Skin and Personal Care,7702018913664,2022M05,672011.0
5883,Colombiana de Comercio,Dilson,Skin and Personal Care,7702018913664,2022M06,940815.0

In [ ]:
data['Customer Branch'] = data['Customer Branch'] = range(5884,0,-1) #creating a descending id column values
data

,Local Customer Name,Customer Branch,Sub Sector,Item GTIN,Month (Real),Shipment GIV Value
0,Colombiana de Comercio,5884,Fabric Care,7500435011884,2022M02,973066.0
1,Colombiana de Comercio,5883,Fabric Care,7500435011884,2022M03,486533.0
2,Colombiana de Comercio,5882,Fabric Care,7500435011884,2022M04,973066.0
3,Colombiana de Comercio,5881,Fabric Care,7500435011884,2022M06,583840.0
4,Colombiana de Comercio,5880,Fabric Care,7500435011884,2022M07,583840.0
...,...,...,...,...,...,...
5879,Colombiana de Comercio,5,Skin and Personal Care,7702018913640,2022M06,1810920.0
5880,Colombiana de Comercio,4,Skin and Personal Care,7702018913640,2022M07,3621840.0
5881,Colombiana de Comercio,3,Skin and Personal Care,7702018913664,2022M03,672011.0
5882,Colombiana de Comercio,2,Skin and Personal Care,7702018913664,2022M05,672011.0
5883,Colombiana de Comercio,1,Skin and Personal Care,7702018913664,2022M06,940815.0